In [1]:
import pandas as pd
import numpy as np
import scipy.stats as stats
import matplotlib.pyplot as plt
import seaborn as sns
import missingno as msno
import clean #mon module de fontions qui me permettent de nettoyer un dataframe
import plot_ #mon module de plotting 
import stat_ #mon module de stat.
import re

# Filter warnings
import warnings
warnings.filterwarnings('ignore')

In [2]:
def collect_prod (A, cat) :
    L_prod = []
    pattern = 'name:'
    A_bis = re.split(pattern, A)
    for part in A_bis:
        part = re.split(',',part)
        L_prod.append(part[0])
        df = pd.DataFrame({'Produit':L_prod,'cat√©gorie':cat})
    return L_prod, df

In [3]:
EAUX = 'name:BOUT CRISTALINE 50CL X24,public_title:null,sku:FR_I0000103}]},{id:7799395549406,gid:gid:\/\/shopify\/Product\/7799395549406,vendor:Selecta FR,type:,variants:[{id:43403601182942,price:1650,name:BOUT VITTEL 1L X15,public_title:null,sku:FR_I0001120}]},{id:7799398826206,gid:gid:\/\/shopify\/Product\/7799398826206,vendor:Selecta FR,type:,variants:[{id:43403605049566,price:3840,name:PET VITTEL CITRON X50CL X24,public_title:null,sku:FR_I0002448}]},{id:7799392108766,gid:gid:\/\/shopify\/Product\/7799392108766,vendor:Selecta FR,type:,variants:[{id:43403597283550,price:2040,name:BOUT VITTEL RONDE 50CL X24,public_title:null,sku:FR_I0000115}]},{id:7799391977694,gid:gid:\/\/shopify\/Product\/7799391977694,vendor:Selecta FR,type:,variants:[{id:43403597152478,price:2640,name:BOUT SAN PELLEGRINO 50CL X24,public_title:null,sku:FR_I0000113}]},{id:7799391912158,gid:gid:\/\/shopify\/Product\/7799391912158,vendor:Selecta FR,type:,variants:[{id:43403597119710,price:1560,name:BOUT EVIAN 50CL X24,public_title:null,sku:FR_I0000108}]},{id:7799392010462,gid:gid:\/\/shopify\/Product\/7799392010462,vendor:Selecta FR,type:,variants:[{id:43403597218014,price:1320,name:BOUT PURE LIFE 50CL X24,public_title:null,sku:FR_I0000112}]},{id:7799398301918,gid:gid:\/\/shopify\/Product\/7799398301918,vendor:Selecta FR,type:,variants:[{id:43403604558046,price:3240,name:BTE SLIM PERRIER CITR 33CL X24,public_title:null,sku:FR_I0002202}]},{id:7799396925662,gid:gid:\/\/shopify\/Product\/7799396925662,vendor:Selecta FR,type:,variants:[{id:43403602854110,price:414,name:BOUT EAU CRISTALINE 1,5LX6,public_title:null,sku:FR_I0001896}]}]'

In [4]:
BOISSONS_FRUITS = 'name:BTE OASIS TROPICAL 33CL X24,public_title:null,sku:FR_I0000120}]},{id:7799393419486,gid:gid:\/\/shopify\/Product\/7799393419486,vendor:Selecta FR,type:,variants:[{id:43403598692574,price:2400,name:BTE ICE TEA PECHE 33CL X24,public_title:null,sku:FR_I0000238}]},{id:7799393485022,gid:gid:\/\/shopify\/Product\/7799393485022,vendor:Selecta FR,type:,variants:[{id:43403598758110,price:1968,name:BTE ICE TEA PECHE ZERO 33CLX24,public_title:null,sku:FR_I0000239}]},{id:7799394992350,gid:gid:\/\/shopify\/Product\/7799394992350,vendor:Selecta FR,type:,variants:[{id:43403600298206,price:2580,name:PET TROPICANA ORANGE 12X25CL,public_title:null,sku:FR_I0000850}]},{id:7799398629598,gid:gid:\/\/shopify\/Product\/7799398629598,vendor:Selecta FR,type:,variants:[{id:43403604852958,price:1884,name:PET LIPTON FRAMBOISE 50CL X12,public_title:null,sku:FR_I0002251}]},{id:7799394336990,gid:gid:\/\/shopify\/Product\/7799394336990,vendor:Selecta FR,type:,variants:[{id:43403599708382,price:1752,name:BTE TREE TOP JUS ORANG 33CLX24,public_title:null,sku:FR_I0000611}]},{id:7895283925214,gid:gid:\/\/shopify\/Product\/7895283925214,vendor:Selecta FR,type:,variants:[{id:43720507556062,price:2040,name:PET PULCO CITRONNADE 50CLX12,public_title:null,sku:FR_I0000134}]},{id:7873780449502,gid:gid:\/\/shopify\/Product\/7873780449502,vendor:Selecta FR,type:,variants:[{id:43662511505630,price:2400,name:PET LIPTON GREEN MENTHE50CLX12,public_title:null,sku:FR_I0002445}]},{id:7873780383966,gid:gid:\/\/shopify\/Product\/7873780383966,vendor:Selecta FR,type:,variants:[{id:43662511440094,price:2640,name:PET OASIS POMME CASSIS 50CLX12,public_title:null,sku:FR_I0002306}]},{id:7873780777182,gid:gid:\/\/shopify\/Product\/7873780777182,vendor:Selecta FR,type:,variants:[{id:43662511866078,price:3840,name:BTE OASIS THE PECHE 33CL X24,public_title:null,sku:FR_I0003101}]},{id:7799401513182,gid:gid:\/\/shopify\/Product\/7799401513182,vendor:Selecta FR,type:,variants:[{id:43403608096990,price:2040,name:PET MAYTEA MENTHE 50CL X12,public_title:null,sku:FR_I0003094}]},{id:7872808517854,gid:gid:\/\/shopify\/Product\/7872808517854,vendor:Selecta FR,type:,variants:[{id:43657842950366,price:200,name:BTE OASIS POMME CASSIS X24,public_title:null,sku:FR_I0001720}]},{id:7799394599134,gid:gid:\/\/shopify\/Product\/7799394599134,vendor:Selecta FR,type:,variants:[{id:43403599970526,price:2100,name:PET OASIS TROPICAL 50CL X12,public_title:null,sku:FR_I0000640}]},{id:7799400038622,gid:gid:\/\/shopify\/Product\/7799400038622,vendor:Selecta FR,type:,variants:[{id:43403606327518,price:1380,name:PET LIPTON PECHE ZERO 50CL X12,public_title:null,sku:FR_I0002848}]}],page:{pageType:collection,resourceType:collection,resourceId:408487133406}}'

In [5]:
SODAS = 'name:BTE ORANGINA 33CL X24,public_title:null,sku:FR_I0000121}]},{id:7799392403678,gid:gid:\/\/shopify\/Product\/7799392403678,vendor:Selecta FR,type:,variants:[{id:43403597611230,price:2952,name:BTE COCA COLA 33CL X24,public_title:null,sku:FR_I0000145}]},{id:7799400071390,gid:gid:\/\/shopify\/Product\/7799400071390,vendor:Selecta FR,type:,variants:[{id:43403606360286,price:1968,name:BTE 7UP ZERO 33CL X24,public_title:null,sku:FR_I0002849}]},{id:7799398400222,gid:gid:\/\/shopify\/Product\/7799398400222,vendor:Selecta FR,type:,variants:[{id:43403604721886,price:2640,name:BTE SLIM SCHW LEMON 33CL X24,public_title:null,sku:FR_I0002212}]},{id:7799392272606,gid:gid:\/\/shopify\/Product\/7799392272606,vendor:Selecta FR,type:,variants:[{id:43403597480158,price:2640,name:BTE SCHWEPPE AGRUM 33CL X24,public_title:null,sku:FR_I0000126}]},{id:7895283990750,gid:gid:\/\/shopify\/Product\/7895283990750,vendor:Selecta FR,type:,variants:[{id:43720507654366,price:1920,name:BTE PEPSI MAX 33CL X24,public_title:null,sku:FR_I0000241}]},{id:7799392501982,gid:gid:\/\/shopify\/Product\/7799392501982,vendor:Selecta FR,type:,variants:[{id:43403597709534,price:4320,name:PET COCA COLA 50CL X24,public_title:null,sku:FR_I0000160}]},{id:7799400136926,gid:gid:\/\/shopify\/Product\/7799400136926,vendor:Selecta FR,type:,variants:[{id:43403606425822,price:1380,name:PET 7UP ZERO 50CL X12,public_title:null,sku:FR_I0002850}]},{id:7895283957982,gid:gid:\/\/shopify\/Product\/7895283957982,vendor:Selecta FR,type:,variants:[{id:43720507588830,price:1968,name:BTE PEPSI 33CL X24,public_title:null,sku:FR_I0000240}]},{id:7799392469214,gid:gid:\/\/shopify\/Product\/7799392469214,vendor:Selecta FR,type:,variants:[{id:43403597676766,price:2880,name:BTE COCA COLA S\/SUCRE 33CL X24,public_title:null,sku:FR_I0000147}]},{id:7895284089054,gid:gid:\/\/shopify\/Product\/7895284089054,vendor:Selecta FR,type:,variants:[{id:43720507719902,price:1740,name:PET PEPSI COLA 50CL X12,public_title:null,sku:FR_I0002269}]},{id:7799392534750,gid:gid:\/\/shopify\/Product\/7799392534750,vendor:Selecta FR,type:,variants:[{id:43403597742302,price:2040,name:PET COCA COLA ZERO 50CL X12,public_title:null,sku:FR_I0000163}]},{id:7799392370910,gid:gid:\/\/shopify\/Product\/7799392370910,vendor:Selecta FR,type:,variants:[{id:43403597578462,price:2100,name:PET SCHWEPPES AGRUMES 50CL X12,public_title:null,sku:FR_I0000137}]},{id:7799397679326,gid:gid:\/\/shopify\/Product\/7799397679326,vendor:Selecta FR,type:,variants:[{id:43403603771614,price:1440,name:PET PEPSI MAX 50CL X12,public_title:null,sku:FR_I0002034}]}],page:{pageType:collection,resourceType:collection,resourceId:408487297246}};'

In [6]:
AUTRES_B = 'name:BTE ROCKSTAR ORIGINAL 25CLX24,public_title:null,sku:FR_I0003143}]},{id:7799392207070,gid:gid:\/\/shopify\/Product\/7799392207070,vendor:Selecta FR,type:,variants:[{id:43403597414622,price:4800,name:BTE RED BULL 25CL X24,public_title:null,sku:FR_I0000125}]},{id:7873780711646,gid:gid:\/\/shopify\/Product\/7873780711646,vendor:Selecta FR,type:,variants:[{id:43662511800542,price:2880,name:BTE ROCKSTAR ORIGINAL 50CL X12,public_title:null,sku:FR_I0003088}]},{id:7799398957278,gid:gid:\/\/shopify\/Product\/7799398957278,vendor:Selecta FR,type:,variants:[{id:43403605180638,price:1560,name:BTE 1664 BLONDE 0.0% 33CL X12,public_title:null,sku:FR_I0002450}]},{id:7799400399070,gid:gid:\/\/shopify\/Product\/7799400399070,vendor:Selecta FR,type:,variants:[{id:43403606950110,price:5760,name:BTE FIT ENERGY DRINK 25 X24,public_title:null,sku:FR_I0002860}]},{id:7839908069598,gid:gid:\/\/shopify\/Product\/7839908069598,vendor:Selecta FR,type:,variants:[{id:43531428397278,price:1440,name:BTE PERRIER NRJ CITRON 33CLX24,public_title:null,sku:FR_I0003095}]},{id:7872808419550,gid:gid:\/\/shopify\/Product\/7872808419550,vendor:Selecta FR,type:,variants:[{id:43657842786526,price:4800,name:BOUT CACOLAC 25CLX24,public_title:null,sku:FR_I0000883}]}],page:{pageType:collection,resourceType:collection,resourceId:408487821534}};'

In [7]:
BISCUITS = 'name:GAUFRE LIEGEOISE 90G X30,public_title:null,sku:FR_I0001956}]},{id:7799396827358,gid:gid:\/\/shopify\/Product\/7799396827358,vendor:Selecta FR,type:,variants:[{id:43403602723038,price:1608,name:MAD COQUILLE PEPITE - 75g X24,public_title:null,sku:FR_I0001821}]},{id:7895284023518,gid:gid:\/\/shopify\/Product\/7895284023518,vendor:Selecta FR,type:,variants:[{id:43720507687134,price:1608,name:MAD COQUILLE NATURE 85gX24,public_title:null,sku:FR_I0001830}]},{id:7799392567518,gid:gid:\/\/shopify\/Product\/7799392567518,vendor:Selecta FR,type:,variants:[{id:43403597775070,price:2565,name:MINI HIT CACAO - 130g X27,public_title:null,sku:FR_I0000182}]},{id:7799397056734,gid:gid:\/\/shopify\/Product\/7799397056734,vendor:Selecta FR,type:,variants:[{id:43403603050718,price:2400,name:GALETTE AMANDE 100GX24,public_title:null,sku:FR_I0001910}]},{id:7799394271454,gid:gid:\/\/shopify\/Product\/7799394271454,vendor:Selecta FR,type:,variants:[{id:43403599642846,price:1460,name:MILKA LU POCKET 35G X20,public_title:null,sku:FR_I0000498}]},{id:7835402469598,gid:gid:\/\/shopify\/Product\/7835402469598,vendor:Selecta FR,type:,variants:[{id:43517158195422,price:2160,name:NAPOLITAIN CLASSIQUE 60GX24,public_title:null,sku:FR_I0003091}]},{id:7799395418334,gid:gid:\/\/shopify\/Product\/7799395418334,vendor:Selecta FR,type:,variants:[{id:43403600855262,price:1580,name:PRINCE MAXI FORMAT 80G X20,public_title:null,sku:FR_I0001074}]},{id:7799402922206,gid:gid:\/\/shopify\/Product\/7799402922206,vendor:Selecta FR,type:,variants:[{id:43403610325214,price:5600,name:NUTELLA BISCUITS 41,4G X28,public_title:null,sku:FR_I0003089}]},{id:7872808452318,gid:gid:\/\/shopify\/Product\/7872808452318,vendor:Selecta FR,type:,variants:[{id:43657842852062,price:4480,name:GALETTE RIZ CHOC NOIR 36Gx28,public_title:null,sku:FR_I0001974}]},{id:7799397613790,gid:gid:\/\/shopify\/Product\/7799397613790,vendor:Selecta FR,type:,variants:[{id:43403603706078,price:2044,name:PETIT GUILLOU CACAO 80G X28,public_title:null,sku:FR_I0002014}]},{id:7799392633054,gid:gid:\/\/shopify\/Product\/7799392633054,vendor:Selecta FR,type:,variants:[{id:43403597873374,price:1960,name:BROWNIES AU CHOCOLAT - 50g X28,public_title:null,sku:FR_I0000176}]},{id:7799398007006,gid:gid:\/\/shopify\/Product\/7799398007006,vendor:Selecta FR,type:,variants:[{id:43403604197598,price:5500,name:SABLES PUR BEURRE 44G X2 X100,public_title:null,sku:FR_I0002155}]},{id:7873780482270,gid:gid:\/\/shopify\/Product\/7873780482270,vendor:Selecta FR,type:,variants:[{id:43662511538398,price:2400,name:SACHET MINI\'S PEPITES CHOC X24,public_title:null,sku:FR_I0002533}]},{id:7799397220574,gid:gid:\/\/shopify\/Product\/7799397220574,vendor:Selecta FR,type:,variants:[{id:43403603312862,price:1350,name:GAUFRE LIEGEOISE CHOCO 60GX30,public_title:null,sku:FR_I0001957}]},{id:7799397941470,gid:gid:\/\/shopify\/Product\/7799397941470,vendor:Selecta FR,type:,variants:[{id:43403604132062,price:4140,name:CAKE TRANCHE ERTE 60G X60,public_title:null,sku:FR_I0002103}]},{id:7799398236382,gid:gid:\/\/shopify\/Product\/7799398236382,vendor:Selecta FR,type:,variants:[{id:43403604492510,price:2160,name:MILKA COOKIES 52G X24,public_title:null,sku:FR_I0002198}]},{id:7799400267998,gid:gid:\/\/shopify\/Product\/7799400267998,vendor:Selecta FR,type:,variants:[{id:43403606819038,price:4320,name:GALETTE AU BON CHOCO 60.6G X32,public_title:null,sku:FR_I0002853}]},{id:7799401414878,gid:gid:\/\/shopify\/Product\/7799401414878,vendor:Selecta FR,type:,variants:[{id:43403607998686,price:3750,name:GALETTE MOELLEUSE CHOCO 60GX25,public_title:null,sku:FR_I0003092}]},{id:7799393616094,gid:gid:\/\/shopify\/Product\/7799393616094,vendor:Selecta FR,type:,variants:[{id:43403598889182,price:1800,name:OREO POCKET - 66g X20,public_title:null,sku:FR_I0000253}]}],page:{pageType:collection,resourceType:collection,resourceId:408487985374}};'

In [8]:
BARRES_CHOC = 'name:KIT KAT - 41,5g X36,public_title:null,sku:FR_I0000192}]},{id:7799392600286,gid:gid:\/\/shopify\/Product\/7799392600286,vendor:Selecta FR,type:,variants:[{id:43403597807838,price:4200,name:KINDER BUENO - 43g X30,public_title:null,sku:FR_I0000186}]},{id:7799393059038,gid:gid:\/\/shopify\/Product\/7799393059038,vendor:Selecta FR,type:,variants:[{id:43403598332126,price:2336,name:TWIX - 50g X32,public_title:null,sku:FR_I0000215}]},{id:7799392927966,gid:gid:\/\/shopify\/Product\/7799392927966,vendor:Selecta FR,type:,variants:[{id:43403598201054,price:3060,name: M M S CACAHUETES - 45g X36,public_title:null,sku:FR_I0000208}]},{id:7799393026270,gid:gid:\/\/shopify\/Product\/7799393026270,vendor:Selecta FR,type:,variants:[{id:43403598299358,price:2336,name:SNICKERS - 50g X32,public_title:null,sku:FR_I0000210}]},{id:7799392960734,gid:gid:\/\/shopify\/Product\/7799392960734,vendor:Selecta FR,type:,variants:[{id:43403598233822,price:2336,name:MARS  - 51g X32,public_title:null,sku:FR_I0000206}]},{id:7799397187806,gid:gid:\/\/shopify\/Product\/7799397187806,vendor:Selecta FR,type:,variants:[{id:43403603280094,price:1680,name:CRUNCH SNACK 33GX30,public_title:null,sku:FR_I0001962}]},{id:7799392895198,gid:gid:\/\/shopify\/Product\/7799392895198,vendor:Selecta FR,type:,variants:[{id:43403598168286,price:1752,name:BOUNTY  - 57g X24,public_title:null,sku:FR_I0000203}]},{id:7799392993502,gid:gid:\/\/shopify\/Product\/7799392993502,vendor:Selecta FR,type:,variants:[{id:43403598266590,price:4800,name:M M S CACAHUETES - 100g X30,public_title:null,sku:FR_I0000209}]},{id:7799392796894,gid:gid:\/\/shopify\/Product\/7799392796894,vendor:Selecta FR,type:,variants:[{id:43403597971678,price:1440,name:LION PEANUT - 42g X24,public_title:null,sku:FR_I0000197}]},{id:7799392665822,gid:gid:\/\/shopify\/Product\/7799392665822,vendor:Selecta FR,type:,variants:[{id:43403597840606,price:4050,name:KINDER BUENO WHITE 39G X30,public_title:null,sku:FR_I0000187}]},{id:7799393583326,gid:gid:\/\/shopify\/Product\/7799393583326,vendor:Selecta FR,type:,variants:[{id:43403598856414,price:3200,name:COTE D\'OR NOISETTES - 45g X32,public_title:null,sku:FR_I0000243}]},{id:7873780351198,gid:gid:\/\/shopify\/Product\/7873780351198,vendor:Selecta FR,type:,variants:[{id:43662511374558,price:3520,name:M M S CRIPSY 77g X16,public_title:null,sku:FR_I0002097}]},{id:7873780744414,gid:gid:\/\/shopify\/Product\/7873780744414,vendor:Selecta FR,type:,variants:[{id:43662511833310,price:4080,name:KITKAT POPS LAIT 40GX24,public_title:null,sku:FR_I0003093}]},{id:7799401480414,gid:gid:\/\/shopify\/Product\/7799401480414,vendor:Selecta FR,type:,variants:[{id:43403608031454,price:3000,name:CRAQUISE CHOCO NOISETT 135GX12,public_title:null,sku:FR_I0003096}]},{id:7799399153886,gid:gid:\/\/shopify\/Product\/7799399153886,vendor:Selecta FR,type:,variants:[{id:43403605377246,price:7000,name:TONY\'S CHOCO LAIT 47G X35,public_title:null,sku:FR_I0002632}]},{id:7799392829662,gid:gid:\/\/shopify\/Product\/7799392829662,vendor:Selecta FR,type:,variants:[{id:43403598004446,price:1920,name:SUNDY - 36g X24,public_title:null,sku:FR_I0000200}]},{id:7799392764126,gid:gid:\/\/shopify\/Product\/7799392764126,vendor:Selecta FR,type:,variants:[{id:43403597938910,price:1752,name:KIT KAT CHUNKY - 40g X 24,public_title:null,sku:FR_I0000193}]},{id:7799392862430,gid:gid:\/\/shopify\/Product\/7799392862430,vendor:Selecta FR,type:,variants:[{id:43403598135518,price:3960,name:MALTESERS - 85g X24,public_title:null,sku:FR_I0000205}]},{id:7799396401374,gid:gid:\/\/shopify\/Product\/7799396401374,vendor:Selecta FR,type:,variants:[{id:43403602297054,price:5000,name:LINGOT CHOCOLAT PELICAN 3GX500,public_title:null,sku:FR_I0001309}]},{id:7799396696286,gid:gid:\/\/shopify\/Product\/7799396696286,vendor:Selecta FR,type:,variants:[{id:43403602591966,price:10400,name:KINDER BUENO (LOT DE 2) X40,public_title:null,sku:FR_I0001504}]},{id:7799396761822,gid:gid:\/\/shopify\/Product\/7799396761822,vendor:Selecta FR,type:,variants:[{id:43403602657502,price:2750,name:MALTESERS - 37g X25,public_title:null,sku:FR_I0001708}]},{id:7799399186654,gid:gid:\/\/shopify\/Product\/7799399186654,vendor:Selecta FR,type:,variants:[{id:43403605410014,price:7000,name:TONY\'S CHOCO NOIR AMAND 47GX35,public_title:null,sku:FR_I0002633}]},{id:7799400300766,gid:gid:\/\/shopify\/Product\/7799400300766,vendor:Selecta FR,type:,variants:[{id:43403606851806,price:3200,name:KIT KAT POPS PEANUTS 110G X10,public_title:null,sku:FR_I0002856}]},{id:7799400333534,gid:gid:\/\/shopify\/Product\/7799400333534,vendor:Selecta FR,type:,variants:[{id:43403606884574,price:2040,name:RECETTE DE L\'ATELIER 30G X24,public_title:null,sku:FR_I0002857}]},{id:7799400464606,gid:gid:\/\/shopify\/Product\/7799400464606,vendor:Selecta FR,type:,variants:[{id:43403607015646,price:1422,name:BREAKIT CHOCO BISCUIT 108G X18,public_title:null,sku:FR_I0002862}]},{id:7799400497374,gid:gid:\/\/shopify\/Product\/7799400497374,vendor:Selecta FR,type:,variants:[{id:43403607048414,price:1380,name:NATURE VALLEY PROTEIN 40G X12,public_title:null,sku:FR_I0002863}]},{id:7872808354014,gid:gid:\/\/shopify\/Product\/7872808354014,vendor:Selecta FR,type:,variants:[{id:43657842557150,price:4800,name:SNICKERS  KING SIZE 75g X24,public_title:null,sku:FR_I0000211}]},{id:7872808386782,gid:gid:\/\/shopify\/Product\/7872808386782,vendor:Selecta FR,type:,variants:[{id:43657842753758,price:4650,name:TWIX XTRA - 75g X30,public_title:null,sku:FR_I0000216}]},{id:7799397777630,gid:gid:\/\/shopify\/Product\/7799397777630,vendor:Selecta FR,type:,variants:[{id:43403603869918,price:3240,name:B-READY NUTELLA T2 44GR X24,public_title:null,sku:FR_I0002053}]},{id:7799396794590,gid:gid:\/\/shopify\/Product\/7799396794590,vendor:Selecta FR,type:,variants:[{id:43403602690270,price:3240,name:KINDER COUNTRY T2 47g - X24,public_title:null,sku:FR_I0001819}]}],page:{pageType:collection,resourceType:collection,resourceId:408488050910}};'

In [9]:
CONFISERIES = 'name:FREEDENT REFRESCHER MENTHE X24,public_title:null,sku:FR_I0003090}]},{id:7799392436446,gid:gid:\/\/shopify\/Product\/7799392436446,vendor:Selecta FR,type:,variants:[{id:43403597643998,price:3900,name:HARIBO CROCO HARIBO 120G X30,public_title:null,sku:FR_I0000140}]},{id:7799398793438,gid:gid:\/\/shopify\/Product\/7799398793438,vendor:Selecta FR,type:,variants:[{id:43403604984030,price:3400,name:HARIBO DRAGIBUS 50G X40,public_title:null,sku:FR_I0002444}]},{id:7799394205918,gid:gid:\/\/shopify\/Product\/7799394205918,vendor:Selecta FR,type:,variants:[{id:43403599577310,price:3900,name:HARIBO HAPPY LIFE 120g X30,public_title:null,sku:FR_I0000462}]},{id:7873780613342,gid:gid:\/\/shopify\/Product\/7873780613342,vendor:Selecta FR,type:,variants:[{id:43662511669470,price:6300,name:HARIBO DELIR\'PIK 120G X30,public_title:null,sku:FR_I0002645}]}],page:{pageType:collection,resourceType:collection,resourceId:408488116446}};'

In [10]:
BIENETRE = 'name:ANDROS GOURDE POMME 90G X24,public_title:null,sku:FR_I0002854}]},{id:7799399514334,gid:gid:\/\/shopify\/Product\/7799399514334,vendor:Selecta FR,type:,variants:[{id:43403605737694,price:1602,name:BISCUIT GINGEMBRE CITR 33g X18,public_title:null,sku:FR_I0002785}]},{id:7799393124574,gid:gid:\/\/shopify\/Product\/7799393124574,vendor:Selecta FR,type:,variants:[{id:43403598495966,price:1710,name:BISCUIT SESAME POCKET -46g X18,public_title:null,sku:FR_I0000219}]},{id:7873780580574,gid:gid:\/\/shopify\/Product\/7873780580574,vendor:Selecta FR,type:,variants:[{id:43662511636702,price:2700,name:BISCUIT CRANBERRY BIO 33G X18,public_title:null,sku:FR_I0003021}]},{id:7873780547806,gid:gid:\/\/shopify\/Product\/7873780547806,vendor:Selecta FR,type:,variants:[{id:43662511603934,price:2800,name:GALETTE MAIS CHOCO LAIT 31GX28,public_title:null,sku:FR_I0003020}]},{id:7799396663518,gid:gid:\/\/shopify\/Product\/7799396663518,vendor:Selecta FR,type:,variants:[{id:43403602526430,price:1422,name:GERBLE MIEL SESAME CROQU X18,public_title:null,sku:FR_I0001505}]},{id:7799398269150,gid:gid:\/\/shopify\/Product\/7799398269150,vendor:Selecta FR,type:,variants:[{id:43403604525278,price:2700,name:FOURRES CHOC NR BJORG  50g X20,public_title:null,sku:FR_I0002201}]},{id:7799398105310,gid:gid:\/\/shopify\/Product\/7799398105310,vendor:Selecta FR,type:,variants:[{id:43403604295902,price:1350,name:GAUFRE MIEL BJORG 60g X10,public_title:null,sku:FR_I0002183}]}],page:{pageType:collection,resourceType:collection,resourceId:408487198942}};'

In [11]:
Selecta_ls = [EAUX ,BOISSONS_FRUITS,SODAS ,
             AUTRES_B ,BISCUITS ,BARRES_CHOC,CONFISERIES, BIENETRE]

cat = {0: 'Boissons', 1: 'Boissons', 2: 'Boissons', 3: 'Boissons',
      4 : 'Sucreries', 5: 'Sucreries', 6: 'Sucreries', 7: 'Sucreries'}

In [12]:
df_sel = pd.DataFrame({'Produit': [], 'cat√©gorie':[]})
for i, elm in enumerate(Selecta_ls):
    L_prod, df_tamp = collect_prod (elm, cat[i])
    df_sel = pd.concat([df_sel, df_tamp])

In [13]:
ind = df_sel[df_sel['Produit']==''].index
df_sel = df_sel.drop(ind)
df_sel = df_sel.reset_index(drop= True)
df_sel

                            Produit  cat√©gorie
0          BOUT CRISTALINE 50CL X24   Boissons
1                BOUT VITTEL 1L X15   Boissons
2       PET VITTEL CITRON X50CL X24   Boissons
3        BOUT VITTEL RONDE 50CL X24   Boissons
4      BOUT SAN PELLEGRINO 50CL X24   Boissons
..                              ...        ...
103   BISCUIT CRANBERRY BIO 33G X18  Sucreries
104  GALETTE MAIS CHOCO LAIT 31GX28  Sucreries
105    GERBLE MIEL SESAME CROQU X18  Sucreries
106  FOURRES CHOC NR BJORG  50g X20  Sucreries
107       GAUFRE MIEL BJORG 60g X10  Sucreries

[108 rows x 2 columns]

                            Produit  cat√©gorie
0          BOUT CRISTALINE 50CL X24   Boissons
1                BOUT VITTEL 1L X15   Boissons
2       PET VITTEL CITRON X50CL X24   Boissons
3        BOUT VITTEL RONDE 50CL X24   Boissons
4      BOUT SAN PELLEGRINO 50CL X24   Boissons
..                              ...        ...
103   BISCUIT CRANBERRY BIO 33G X18  Sucreries
104  GALETTE MAIS CHOCO LAIT 31GX28  Sucreries
105    GERBLE MIEL SESAME CROQU X18  Sucreries
106  FOURRES CHOC NR BJORG  50g X20  Sucreries
107       GAUFRE MIEL BJORG 60g X10  Sucreries

[108 rows x 2 columns]

In [14]:
pattern = [r'(\d+\w+)','BOUT','PET',' X', 'BTE']
repl = ''
for pat in pattern:
    df_sel['Produit'] = df_sel['Produit'].str.replace(pat,repl, regex= True)

In [15]:
df_sel

                      Produit  cat√©gorie
0                 CRISTALINE    Boissons
1                     VITTEL    Boissons
2               VITTEL CITRON   Boissons
3               VITTEL RONDE    Boissons
4             SAN PELLEGRINO    Boissons
..                        ...        ...
103    BISCUIT CRANBERRY BIO   Sucreries
104  GALETTE MAIS CHOCO LAIT   Sucreries
105  GERBLE MIEL SESAME CROQU  Sucreries
106   FOURRES CHOC NR BJORG    Sucreries
107        GAUFRE MIEL BJORG   Sucreries

[108 rows x 2 columns]

                      Produit  cat√©gorie
0                 CRISTALINE    Boissons
1                     VITTEL    Boissons
2               VITTEL CITRON   Boissons
3               VITTEL RONDE    Boissons
4             SAN PELLEGRINO    Boissons
..                        ...        ...
103    BISCUIT CRANBERRY BIO   Sucreries
104  GALETTE MAIS CHOCO LAIT   Sucreries
105  GERBLE MIEL SESAME CROQU  Sucreries
106   FOURRES CHOC NR BJORG    Sucreries
107        GAUFRE MIEL BJORG   Sucreries

[108 rows x 2 columns]

In [16]:
df_sel = clean.doublon(df_sel,['Produit'])
df_sel

Recherche de doublon : il y a  12
doublons qui ont la m√™me cl√©: ['Produit']
Recherche de doublon : il y a  12
doublons qui ont la m√™me cl√©: ['Produit']

                     Produit  cat√©gorie
0                CRISTALINE    Boissons
78   CRAQUISE CHOCO NOISETT   Sucreries
77         KITKAT POPS LAIT   Sucreries
76             M M S CRIPSY   Sucreries
75    COTE D'OR NOISETTES -   Sucreries
..                       ...        ...
34           COCA COLA ZERO    Boissons
33               PEPSI COLA    Boissons
32       COCA COLA S\/SUCRE    Boissons
31                    PEPSI    Boissons
107       GAUFRE MIEL BJORG   Sucreries

[102 rows x 2 columns]

                     Produit  cat√©gorie
0                CRISTALINE    Boissons
78   CRAQUISE CHOCO NOISETT   Sucreries
77         KITKAT POPS LAIT   Sucreries
76             M M S CRIPSY   Sucreries
75    COTE D'OR NOISETTES -   Sucreries
..                       ...        ...
34           COCA COLA ZERO    Boissons
33               PEPSI COLA    Boissons
32       COCA COLA S\/SUCRE    Boissons
31                    PEPSI    Boissons
107       GAUFRE MIEL BJORG   Sucreries

[102 rows x 2 columns]

In [19]:
df_sel = df_sel.reset_index(drop= True)
df_sel

                     Produit  cat√©gorie
0                CRISTALINE    Boissons
1    CRAQUISE CHOCO NOISETT   Sucreries
2          KITKAT POPS LAIT   Sucreries
3              M M S CRIPSY   Sucreries
4     COTE D'OR NOISETTES -   Sucreries
..                       ...        ...
97           COCA COLA ZERO    Boissons
98               PEPSI COLA    Boissons
99       COCA COLA S\/SUCRE    Boissons
100                   PEPSI    Boissons
101       GAUFRE MIEL BJORG   Sucreries

[102 rows x 2 columns]

                     Produit  cat√©gorie
0                CRISTALINE    Boissons
1    CRAQUISE CHOCO NOISETT   Sucreries
2          KITKAT POPS LAIT   Sucreries
3              M M S CRIPSY   Sucreries
4     COTE D'OR NOISETTES -   Sucreries
..                       ...        ...
97           COCA COLA ZERO    Boissons
98               PEPSI COLA    Boissons
99       COCA COLA S\/SUCRE    Boissons
100                   PEPSI    Boissons
101       GAUFRE MIEL BJORG   Sucreries

[102 rows x 2 columns]

In [20]:
df_sel.to_csv('/Users/JoycyRobert/Documents/JUPYTER/OPC/PROJET3/P3/df_selecta.csv',index=False)

In [21]:
df_sel

                     Produit  cat√©gorie
0                CRISTALINE    Boissons
1    CRAQUISE CHOCO NOISETT   Sucreries
2          KITKAT POPS LAIT   Sucreries
3              M M S CRIPSY   Sucreries
4     COTE D'OR NOISETTES -   Sucreries
..                       ...        ...
97           COCA COLA ZERO    Boissons
98               PEPSI COLA    Boissons
99       COCA COLA S\/SUCRE    Boissons
100                   PEPSI    Boissons
101       GAUFRE MIEL BJORG   Sucreries

[102 rows x 2 columns]

                     Produit  cat√©gorie
0                CRISTALINE    Boissons
1    CRAQUISE CHOCO NOISETT   Sucreries
2          KITKAT POPS LAIT   Sucreries
3              M M S CRIPSY   Sucreries
4     COTE D'OR NOISETTES -   Sucreries
..                       ...        ...
97           COCA COLA ZERO    Boissons
98               PEPSI COLA    Boissons
99       COCA COLA S\/SUCRE    Boissons
100                   PEPSI    Boissons
101       GAUFRE MIEL BJORG   Sucreries

[102 rows x 2 columns]